@model TRACSPortal.Areas.Accounting.Models.AccountingCaseViewModel
<script>
    $(".btnAddBilling").click(function (e) {
        var $form = $(this.form);
        var cnt = $('.tbpartsAdd').find('input[type=checkbox]:checked').length
        $form[0].classList.add('was-validated');
        if ($form[0].checkValidity() === false || cnt < 1) {
            if (cnt < 1) {
                $(".lblErrorAddBilling").text("Please select at least one part for this billing.");
                $(".lblErrorAddBilling").show();
            }
            e.preventDefault();
            e.stopPropagation();
            return false;
        }
        $.ajax({
            cache: false,
            type: "GET",
            url: "/Accounting/Case/AddBilling",
            contentType: "application/json; charset=utf-8",
            data: $('#formAddBilling').serialize(),
            dataType: "HTML",
            async: true,
            success: function (response) {
                $('#divBody').html(response);
                $('#divBody').show();
            },
            failure: function (response) {
                alert('Customer content load failed.');
            }
        })
    });
    $(".btnAddCancel").click(function (e) {
        $("#divCaseAddView").hide();
        $("#divCaseListView").show();
        $("#divCaseEditView").hide();
    });
    $(".trPartAdd").click(function (e) {
        $(this).find("input[type=checkbox]").attr("checked", !$(this).find("input[type=checkbox]").prop("checked"));
        if ($(this).find("input[type=checkbox]").length < 1) {
            $(".lblErrorAddBilling").text("Please select at least one part for this billing.");
            $(".lblErrorAddBilling").show();
        }
        else {
            $(".lblErrorAddBilling").text("");
            $(".lblErrorAddBilling").hide();
        }
    });

</script>
<form method="POST" id="formAddBilling" enctype="multipart/form-data">
    @Html.HiddenFor(model => model.CurrentSearchModel.SelectedRadioSearch)
    @Html.HiddenFor(model => model.CurrentSearchModel.SearchKeyWord)
    @Html.HiddenFor(model => model.CurrentSearchModel.SelectedBankId)
    @Html.HiddenFor(model => model.CurrentSearchModel.FromDate)
    @Html.HiddenFor(model => model.CurrentSearchModel.ToDate)
    @Html.HiddenFor(model => model.CaseNumber)
    <div class="card border-light mb-3">
        <div class="card-header font-weight-light cardheaderfixed">Add New Billing</div>
        <div class="card-body" style="font-size:small;padding:2px 2px 2px 2px;height:350px;">
            @if (Model.SelectedCase == null)
            {
                <span>No Case available.</span>
            }
            else
            {
                if (Model.SelectedCase.PartListForAddBilling != null && Model.SelectedCase.PartListForAddBilling.Count > 0)
                {
                    <table style="width:100%">
                        <tr style="vertical-align:top;height:180px;">
                            <td style="width:50%">
                                <table class="table tbpartlist tbpartsAdd">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.SelectedCase.PartListForAddBilling[0].PartNumber)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.SelectedCase.PartListForAddBilling[0].PartDescription)
                                            </th>
                                            <th>@Html.DisplayNameFor(model => model.SelectedCase.PartListForAddBilling[0].SerialNumber)</th>
                                            <th>@Html.DisplayNameFor(model => model.SelectedCase.PartListForAddBilling[0].WarrantyStatus)</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 0; i < Model.SelectedCase.PartListForAddBilling.Count; i++)
                                        {
                                            <tr class="trPartAdd"  style="height:5px">
                                                <td>
                                                    @Html.DisplayFor(model => Model.SelectedCase.PartListForAddBilling[i].PartNumber)
                                                    @Html.HiddenFor(model => Model.SelectedCase.PartListForAddBilling[i].PartNumber)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => Model.SelectedCase.PartListForAddBilling[i].PartDescription)
                                                    @Html.HiddenFor(model => Model.SelectedCase.PartListForAddBilling[i].PartDescription)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => Model.SelectedCase.PartListForAddBilling[i].SerialNumber)
                                                    @Html.HiddenFor(modelItem => Model.SelectedCase.PartListForAddBilling[i].SerialNumber)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => Model.SelectedCase.PartListForAddBilling[i].WarrantyStatus)
                                                    @Html.HiddenFor(modelItem => Model.SelectedCase.PartListForAddBilling[i].WarrantyStatus)
                                                </td>
                                                <td style="height:5px">
                                                    <div class="custom-control custom-checkbox" style="height:5px">
                                                        @Html.CheckBoxFor(modelItem => Model.SelectedCase.PartListForAddBilling[i].IsSignToBilling, new { @class = "custom-control-input ckbPart", id = Model.SelectedCase.PartListForAddBilling[i].SerialNumber, name = "CheckboxPart" })
                                                        <label class="custom-control-label" for="@Model.SelectedCase.PartListForAddBilling[i].SerialNumber"></label>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </td>
                            <td style="width:50%">
                                <div class="card-body" style="font-size:small;padding:20px 12px 12px 12px;height:350px;">
                                    <div class="input-group mb-md-2">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="" style="width:160px;">@Html.DisplayNameFor(model => model.NewBilling.PoOrderNumber)</span>
                                        </div>
                                        @*<input type="text" class="form-control" id="txtPoOrderNumber">*@
                                        @Html.TextBoxFor(model => model.NewBilling.PoOrderNumber, new { @class = "form-control", id = "txtPoOrderNumber", placeholder = "Please input PoOrderNumber" })
                                        <div class="invalid-feedback">Required alphanumeric only with length 1-24.</div>
                                    </div>
                                    <div class="input-group mb-md-2">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="" style="width:160px;">@Html.DisplayNameFor(model => model.NewBilling.SalesOrderNumber)</span>
                                        </div>
                                        @*<input type="text" class="form-control" id="txtSalesOrderNumber">*@
                                        @Html.TextBoxFor(model => model.NewBilling.SalesOrderNumber, new { @class = "form-control", id = "txtSalesOrderNumber", placeholder = "Please input SalesOrderNumber" })
                                        <div class="invalid-feedback">Required alphanumeric only with length 1-24.</div>
                                    </div>
                                    <div class="input-group mb-md-2">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="" style="width:160px;">@Html.DisplayNameFor(model => model.NewBilling.InvoiceNumber)</span>
                                        </div>
                                        @*<input type="text" class="form-control" id="txtInvoiceNumber">*@
                                        @Html.TextBoxFor(model => model.NewBilling.InvoiceNumber, new { @class = "form-control", id = "txtInvoiceNumber", placeholder = "Please input InvoiceNumber" })
                                        <div class="invalid-feedback">Required alphanumeric only with length 1-24.</div>
                                    </div>
                                    <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                        @*<input type="checkbox" class="custom-control-input" id="customControlInline">*@
                                        @Html.CheckBoxFor(model => model.NewBilling.ClientRefused, new { @class = "custom-control-input", id = "customControlInline" })
                                        <label class="custom-control-label" for="customControlInline">Client refueses to purchase a new unit</label>
                                        @Html.HiddenFor(model => model.NewBilling.SeletedParts, new { id = "hiddenSeletedParts" })
                                    </div>
                                    <div class="custom-control-inline" style="float:right;vertical-align:text-bottom">
                                        <button type="button" class="btn btn-warning btnAddCancel" id="cancelAddButton">Cancel</button> &nbsp;&nbsp;
                                        @if (Model.SelectedCase.PartListForAddBilling.Count > 0)
                                        {
                                            <button type="button" class="btn btn-warning btnAddBilling" id="addBilling">Save</button>
                                        }
                                    </div>
                                    <div style="height:60px;">&nbsp;</div>
                                    <div class="custom-control-inline error-text">
                                        <label class="lblErrorAddBilling"> @Model.ErrorManageBilling </label>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                }
                else
                {
                    <div style="padding:20px">
                        <span>There is no part available for adding billing.</span>
                    </div>
                    <div style="float:right;padding:20px">
                        <button type="button" class="btn btn-warning btnAddCancel" id="cancelAddButton2">Cancel</button>
                    </div>
                }
            }
        </div>
    </div>
</form>

